# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
.env

# Django
db.sqlite3
/media/
*.log

# VS Code
.vscode/
*.code-workspace

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDEs and editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# macOS
.DS_Store

# Virtual Environment
venv/
env/

# Pytest
.pytest_cache/
